# Tarea 5: Clasificación usando Aprendizaje Profundo

Crear un clasificador basado en Redes Neuronales Profundas para la clasificación del conjunto de datos [Fashion MNIST](https://github.com/zalandoresearch/fashion-mnist)

<img src="../figuras/fashion-mnist-sprite.png" width="100%">

Fecha de Entrega: 4 de Octubre

### Descomprimir los archivos de datos

In [6]:
!unzip ../datos/fashion-mnist_test.csv.zip -d ../datos/
!unzip ../datos/fashion-mnist_train.csv.zip -d ../datos/

Archive:  ./datos/fashion-mnist_test.csv.zip
  inflating: ./datos/fashion-mnist_test.csv
   creating: ./datos/__MACOSX/
  inflating: ./datos/__MACOSX/._fashion-mnist_test.csv
Archive:  ./datos/fashion-mnist_train.csv.zip
  inflating: ./datos/fashion-mnist_train.csv
  inflating: ./datos/__MACOSX/._fashion-mnist_train.csv

### Leer los datos

In [17]:
import numpy as np 
import pandas as pd

In [8]:
archivo_datos_entrenamiento = "datos/fashion-mnist_train.csv"
archivo_datos_prueba = "datos/fashion-mnist_test.csv"

df_entrenamiento = pd.read_csv(archivo_datos_entrenamiento)
df_prueba = pd.read_csv(archivo_datos_prueba)

In [9]:
df_entrenamiento.head()

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,6,0,0,0,0,0,0,0,5,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,0,1,2,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
# Seleccionar todas las columnas menos la primera
atributos = df_entrenamiento[df_entrenamiento.columns[1:]]
atributos.head()

,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,pixel10,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,5,0,0,...,0,0,0,30,43,0,0,0,0,0
3,0,0,0,1,2,0,0,0,0,0,...,3,0,0,0,0,1,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:

etiquetas = df_entrenamiento['label']
etiquetas.describe(include='all')

count    60000.000000
mean         4.500000
std          2.872305
min          0.000000
25%          2.000000
50%          4.500000
75%          7.000000
max          9.000000
Name: label, dtype: float64

In [12]:
atributos.values.shape

(60000, 784)

In [16]:
tabla_de_etiquetas = [
    'Camiseta',
    'Pantalón',
    'Pull-over',
    'Vestido',
    'Chaqueta',
    'Sandalia',
    'Camisa',
    'Deportivo',
    'Bolso',
    'Botín'
]

## Desarrollar el Clasificador usando Redes Neuronales Profundas

Pueden usar el framework: Pytorch, etc.